<div class="row">
  <div class="col-md-6 col-xl-12">
    <section class="panel">
      <div class="panel-body bg-primary">
        <div class="widget-summary">
          <div class="widget-summary-col widget-summary-col-icon">
            <div class="summary-icon">
              <i class="fa fa-shopping-cart"></i>
            </div>
          </div>
          <div class="widget-summary-col">
            <div class="summary">
              <h4 class="title">Total Purchased</h4>
              <div class="info">
                <strong class="amount"><%= @total_purchased %></strong>
              </div>
            </div>
            <div class="summary-footer">
              <!--<a class="text-uppercase">(view all)</a>-->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-md-6 col-xl-12">
    <section class="panel">
      <div class="panel-body bg-secondary">
        <div class="widget-summary">
          <div class="widget-summary-col widget-summary-col-icon">
            <div class="summary-icon">
              <i class="fa fa-paper-plane-o"></i>
            </div>
          </div>
          <div class="widget-summary-col">
            <div class="summary">
              <h4 class="title">Sms Used</h4>
              <div class="info">
                <strong class="amount"><%= @sms_used %></strong>
              </div>
            </div>
            <div class="summary-footer">
              <!--<a class="text-uppercase">(view all)</a>-->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-md-6 col-xl-12">
    <section class="panel">
      <div class="panel-body bg-tertiary">
        <div class="widget-summary">
          <div class="widget-summary-col widget-summary-col-icon">
            <div class="summary-icon">
              <i class="fa fa-envelope-o"></i>
            </div>
          </div>
          <div class="widget-summary-col">
            <div class="summary">
              <h4 class="title">Current Balance</h4>
              <div class="info">
                <strong class="amount"><%= @current_balance %></strong>
              </div>
            </div>
            <div class="summary-footer">
              <!--<a class="text-uppercase">(view all)</a>-->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-md-6 col-xl-12">
    <!--<section class="panel">
      <div class="panel-body bg-quartenary">
        <div class="widget-summary">
          <div class="widget-summary-col widget-summary-col-icon">
            <div class="summary-icon">
              <i class="fa fa-life-ring"></i>
            </div>
          </div>
          <div class="widget-summary-col">
            <div class="summary">
              <h4 class="title">Support Questions</h4>
              <div class="info">
                <strong class="amount">1281</strong>
              </div>
            </div>
            <div class="summary-footer">
              &lt;!&ndash;<a class="text-uppercase">(view all)</a>&ndash;&gt;
            </div>
          </div>
        </div>
      </div>
    </section>-->
  </div>
</div>
</div>