<section class="panel">
  <header class="panel-heading">
    <div class="pull-right">

    </div>
    <h2 class="panel-title">SMS Summary</h2>
  </header>
  <div class="panel-body">
    <table class="table table-bordered table-striped" id="datatable-ajax" data-url="<%= sms_summary_index_path %>">
      <thead>
      <tr>
        <th>No</th>
        <th>Message_id</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Content</th>
        <th>Status</th>
        <th>Submit Time</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</section>
<!-- end: page -->